:root {
  --main-bg-color: rgb(250, 250, 250);
  --main-font-family: "Be Vietnam Pro", sans-serif;
  --primary-title-color: #242d52;
  --primary-text-color: #9095a7;
  --bright-red: #f25f3a;
  --bright-red-hover-state: #f9916f;
  --max-width: 1200px;
  --dark-blue: #242d52;
  --dark-grayish-blue: #9095a7;
  --very-dark-blue: #1d1e25;
  --very-pale-red: #ffefeb;
  --vary-light-gray: #fafafa;
  --error-color: #e13535;
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  pointer-events: none;
  user-select: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* ******* HEADER ******* */
.header {
  position: sticky;
  top: -0.5rem;
  z-index: 900;
  width: 100%;
  padding: calc(2.5rem + 0.5rem) 1.5rem 2.5rem 1.5rem;
  background-color: var(--main-bg-color);
  transition: background-color 0.2s ease;
}

.header--bg-transparent {
  background-color: transparent;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.header__logo-wrapper {
  width: auto;
  height: auto;
  margin-top: 0.5rem;
}

.header__logo {
  width: clamp(7.5rem, 6.7857rem + 3.5714vw, 10rem);
}

.header__btn-wrapper {
  cursor: pointer;
}

.header__btn {
  width: 100%;
}

/* ******* MAIN NAV ******* */
.main-nav {
  position: fixed;
  top: 6rem;
  right: 0;
  left: 0;
  z-index: 950;
  width: 85%;
  margin: auto;
  height: auto;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.main-nav--is-active {
  opacity: 1;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-nav__item {
  padding: 1rem;
  font-size: var(--step-0);
  font-weight: 700;
  color: var(--primary-title-color);
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.main-nav__item:hover {
  opacity: 0.8;
}

/* ******* SECTIONS ******* */
.sections-container {
  position: relative;
  max-width: var(--max-width);
}

.section {
  position: relative;
  padding: 2rem 1.7rem;
  text-align: center;
}

.section:nth-child(4) {
  padding-left: 0.7rem;
  padding-right: 0;
}

.section__title {
  margin: 0.7em;
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--primary-title-color);
}

.section__title--h1 {
  font-size: var(--step-3);
  line-height: 1.2em;
}

.section__description {
  margin-bottom: 2em;
  font-size: var(--step--1);
  color: var(--primary-text-color);
}

.section__illustration {
  position: relative;
  top: 5px;
  max-width: 390px;
  margin: 0 auto;
  transform: scale(1.12);
}

/* sec-items */
.sec-item {
  min-width: 280px;
  margin-bottom: 3rem;
}

.sec-item__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 1.7rem 0 0 1.7rem;
  font-weight: 500;
  background-color: var(--very-pale-red);
}

.sec-item__num {
  width: 3.1rem;
  padding: 0.3rem 1.1rem;
  font-size: var(--step--2);
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  background-color: var(--bright-red);
  border-radius: 1.7rem;
}

.sec-item__title {
  margin-left: clamp(0rem, -6rem + 30vw, 1.125rem);
  font-size: var(--step--1);
  font-weight: 700;
  color: var(--primary-title-color);
}

.sec-item__description {
  margin-bottom: 1.5em;
  padding-left: 0.2rem;
  padding-right: 1rem;
  font-size: var(--step--1);
  text-align: left;
  color: var(--primary-text-color);
}

/* ******* REVIEW SECTION ******* */
.reviews-section {
  margin-bottom: 1.5rem;
  padding: 2rem 1.7rem;
  text-align: center;
}

.reviews-section__title {
  margin: 0 0 0.7em 0;
  font-size: var(--step-1);
  font-weight: 700;
  color: var(--primary-title-color);
}

/* review cards */
.review-cards-container {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  height: 19.2rem;
  margin: 7.5rem auto 0.5rem;
}

.review-card {
  position: absolute;
  width: 80%;
  min-width: 260px;
  height: 19rem;
  padding: 4.1rem 2rem 2rem;
  text-align: center;
  background-color: #eeeaea;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.review-cards--is-active {
  opacity: 1;
}

.review-card__img-container {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  width: 7rem;
  margin: auto;
}

.review-card__img {
  width: 100%;
  height: auto;
}

.review-card__name {
  font-size: var(--step--1);
  font-weight: 500;
  color: var(--primary-title-color);
  text-transform: capitalize;
}

.review-card__comment {
  margin-top: 0.8em;
  font-size: var(--step--1);
  color: var(--primary-text-color);
}

/* review cards nav */
.rc-nav {
  margin-bottom: 1.5rem;
}

.rc-nav__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.rc-nav__li {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--bright-red);
  border-radius: 50%;
  cursor: default;
}

.rc-nav__li--is-active {
  background-color: var(--bright-red);
}

/* ******* LAST SECTION ******* */
.last-section {
  width: 100%;
  padding: 6rem 1.7rem;
  color: #fff;
  text-align: center;
  background-color: var(--bright-red);
}

.last-section__title {
  margin-bottom: 1em;
  font-size: var(--step-3);
  font-weight: 500;
  line-height: 1.4em;
}

/* ******* FOOTER ******* */
.footer {
  padding: 4.5rem 1rem;
  color: #fff;
  background-color: var(--very-dark-blue);
}

.footer__container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer__form {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.footer__form-email {
  width: 70%;
  max-width: 320px;
  padding: 0.76rem 1.3rem;
  font-size: var(--step--1);
  color: var(--primary-title-color);
  text-overflow: ellipsis;
  background-color: #fff;
  border-radius: 1.7rem;
}

.footer__form-email::placeholder {
  font-size: var(--step--2);
}

.footer__form-email--err {
  color: var(--error-color);
  outline: 1.7px solid var(--error-color);
}

.footer__form-submit-btn {
  margin-left: 1em;
  padding: 0.95rem 1.5rem 0.65rem;
  font-size: var(--step--2);
  font-weight: 700;
  background-color: var(--bright-red);
  border-radius: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.footer__form-submit-btn:hover {
  background-color: var(--bright-red-hover-state);
}

.footer__form-err-msg {
  position: absolute;
  bottom: -1.6rem;
  left: 1.7rem;
  font-size: var(--step--2);
  font-weight: lighter;
  font-style: italic;
  color: var(--error-color);
  text-overflow: clip;
}

.footer__nav {
  margin-bottom: 2.5rem;
  text-align: center;
}

.footer__nav-ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
  width: 75%;
  height: 170px;
  margin: 0 auto;
}

.footer__nav-li {
  padding: 0.5em;
  font-size: var(--step--1);
  font-weight: 400;
  text-transform: capitalize;
}

.footer__nav-li a {
  transition: color 0.2s ease;
}

.footer__nav-li a:hover {
  color: var(--bright-red);
}

.footer__social-icons {
  width: 78%;
  max-width: 420px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  margin: 0 auto 2.5rem;
}

.footer__social-icons svg {
  width: 2.6rem;
  height: auto;
  color: #fff;
  transition: color 0.2s ease;
}

.footer__social-icons svg:hover {
  color: var(--bright-red);
}

.footer__logo {
  margin-bottom: 3rem;
}

.footer__logo-icon {
  width: 10rem;
  margin: 0 auto;
}

.footer__copyright {
  font-size: var(--step--2);
  opacity: 0.8;
}

/* ******* BTNS ******* */
.btn {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1.7rem;
  font-size: var(--step--2);
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--bright-red);
  border-radius: 1.7rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn::after {
  /* shadow for the btns */
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0.55rem;
  z-index: -1;
  width: 83%;
  height: 1.5rem;
  border-radius: inherit;
  box-shadow: 0 10px 15px var(--bright-red-hover-state);
}

.btn-header-contain {
  display: none;
}

.btn--white {
  font-weight: 700;
  color: var(--bright-red);
  background-color: #fff;
  transition: color 0.2s ease;
}

.btn:hover {
  background-color: var(--bright-red-hover-state);
}

.btn--white:hover {
  color: var(--bright-red-hover-state);
  background-color: #fff;
  opacity: 1;
}

/* ******* OTHERS ******* */
.tablet-pattern-1 {
  position: absolute;
  top: clamp(-20.7rem, -9.5182rem + -14.9091vi, -12.5rem);
  right: clamp(-12.4rem, -7.3545rem + -6.7273vi, -8.7rem);
  width: clamp(28rem, 23.6364rem + 21.8182vi, 40rem);
  z-index: -1;
}

.tablet-pattern-2 {
  position: absolute;
  top: clamp(-18.3rem, -13.5467rem + -12.2667vi, -16rem);
  right: clamp(-10rem, -10.5333rem + 2.6667vi, -9.5rem);
  width: clamp(18.5rem, 16.9rem + 8vi, 20rem);
  z-index: -1;
}

.dark-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 910;
  height: 100dvh;
  margin: auto;
  background: #00000080;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5018382352941176) 100%
  );
  opacity: 0;
  transition: opacity 0.18s ease;
}

.dark-layer--is-active {
  opacity: 1;
}

/* ******* ATTRIBUTION ******* */
.attribution {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hidden {
  display: none;
}

/* ******* MEDIA QUERIES ******* */
@media (min-width: 620px) {
  /* changes in sections, header becomes desktop type, changes in review cards*/
  .header {
    padding: calc(1.2rem + 0.5rem) 1.5rem 1.2rem 1.5rem;
    margin-bottom: 2rem;
  }

  .sections-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0.7rem;
    width: 90%;
    margin: 0 auto 3rem;
  }

  .section {
    padding: 0.5rem;
    text-align: left;
  }

  .section:nth-child(2) {
    order: -1;
  }

  .section__title {
    margin: 0 0 0.6em 0;
    padding-right: clamp(0rem, -3.4764rem + 8.3019vw, 2.75rem);
    line-height: 2.2rem;
    text-align: left;
  }

  .section__title--h1 {
    max-width: 430px;
    line-height: 1.2em;
  }

  .section__description {
    width: 65%;
    text-align: left;
  }

  .sec-item__header {
    background-color: var(--main-bg-color);
  }

  .sec-item__title {
    margin-left: clamp(0.4375rem, -1.8059rem + 5.7895vw, 1.125rem);
  }

  .sec-item__description {
    padding-left: 4.8rem;
    text-align: left;
  }

  /* less than 620px is a slider. More than 620 px it is a static card section */
  .reviews-section {
    margin-bottom: 7rem;
    padding: 0.5rem;
    text-align: center;
  }

  .reviews-section__title {
    line-height: 2.2rem;
  }

  .review-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 6rem 1.2rem;
    height: auto;
    margin-top: 7.5rem;
    margin-bottom: 3rem;
  }

  .review-card {
    position: relative;
    display: block;
    width: clamp(10rem, -6.0345rem + 41.3793vw, 24rem);
    height: auto;
    padding: 4.5rem 2rem 2rem;
    opacity: 1;
  }

  .review-card__img-container {
    top: -20%;
    width: 6rem;
  }

  .rc-nav {
    display: none;
  }

  .last-section {
    padding: 3.5rem 2rem;
  }

  .last-section__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .last-section__title {
    max-width: 360px;
    margin-bottom: 0;
    font-size: var(--step-2);
    line-height: 1.2em;
    text-align: left;
  }

  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 0.5rem;
  }

  .footer__form {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer__nav {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer__social-icons {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 3rem;
  }

  .footer__logo {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .footer__copyright {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-right: 0.4rem;
  }

  /* tablet patterns */
  .tablet-pattern-2 {
    top: auto;
    right: auto;
    bottom: clamp(-22rem, 33.8621rem + -74.4828vi, 5rem);
    left: clamp(-30rem, 7.2414rem + -49.6552vi, -12rem);
    width: clamp(22rem, 4.8966rem + 44.1379vi, 38rem);
  }
}

@media (min-width: 670px) {
  /* main nav becomes desktop version */
  .header__btn-wrapper {
    display: none;
  }

  .main-nav {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    display: block;
    width: auto;
    margin: -0.5rem 0 0 0;
    margin: 0;
    background-color: inherit;
    opacity: 1;
  }

  .main-nav__list {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
  }

  .main-nav__item {
    padding: 0;
    margin-left: 1.3rem;
    font-size: var(--step--1);
    font-weight: 500;
  }
}

@media (min-width: 830px) {
  .btn-wrapper {
    display: block;
  }

  .main-nav {
    width: 40%;
  }

  .main-nav__list {
    justify-content: space-between;
  }

  .main-nav__item {
    margin-left: 0;
  }

  .sections-container {
    gap: 2.7rem 0;
  }
}

@media (min-width: 992px) {
  /* footer changes */
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 29.3% 39.9% 29.3%;
    grid-template-rows: 90px 150px;
    justify-content: center;
    align-items: center;
  }

  .footer__form-container {
    text-align: right;
  }

  .footer__form {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .footer__nav {
    margin-top: 1rem;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: flex-start;
    padding-right: 2rem;
  }

  .footer__nav-ul {
    width: 100%;
    height: 250px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer__nav-li {
    padding: 0.8em;
  }

  .footer__social-icons {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    gap: 1rem;
    justify-self: flex-start;
    padding-left: 1px;
  }

  .footer__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    justify-self: flex-start;
  }

  .footer__copyright {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: flex-end;
  }
}
